* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

#wrapper {
    width: 900px;
    margin: 100px auto;
    border: 3px solid rgb(23, 73, 211);
    padding: 10px;
    background-color: #F7F7F7;
}

#home {
    margin-left: 650px;
}

#logout, 
#add_book {
    margin-left: 5px;
}

h2 {
    margin-bottom: 15px;
}

h3 {
    margin: 5px 0px 10px 0px;
}

li {
    margin-left: 36px;
}